<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Курсач_финал.Properties.Settings.UsersConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Users.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Курсач_финал.Properties.Settings.UsersAuthConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\UsersAuth.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Курсач_финал.Properties.Settings.ConnectionString"
            connectionString="Data Source=ЭЛЬНАС-ПК;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Курсач_финал.Properties.Settings.PhilatelistsConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Philatelists.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>