@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Интернет-библиотека</h1>
    <p class="lead">Начните с регистрации и заполнения личной информации, затем вы сможете взять книгу</p>
</div>